body {
    background-color: #95E1FF;
    font-family: sans-serif;
}
div{
    background-color: #FFFFE0;
    border: black 1px solid;
    padding: 10px 30px;
    margin: 10px;
    width: 50%;
}
table{
    margin-left: auto;
    margin-right: auto;
}
div.Enero table {
    border-collapse: collapse;
    border: none;
    text-align: center;
}
div.Enero caption {
    font-style: oblique;
    font-weight: bold;
    letter-spacing: 5px;
}
div.Enero td {
    width: 3em;
    border-left: none;
    border-right: none;
    
}
div.Enero th {
    width: 3em;
    border-left: none;
    border-right: none;
    border-top: none;
}
div.Febrero table {
    border-collapse: collapse;
    border: none;
    padding-right: 5px;
    text-align: right;
}
div.Febrero caption {
    font-weight: bold;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
div.Febrero td {
    width: 1.5em;
    font-size: 150%;
    border-top: none;
    border-bottom: none;
    padding-right: 5px;
}
div.Febrero th {
    padding-right: 5px;
    border-bottom: none;
    border-top: none;
}
div.Marzo table {
    border: black 1px solid;
    border-collapse: collapse;
    text-align: center;
}
div.Marzo caption {
    font-variant: small-caps;
    text-align: left;
    letter-spacing: 10px;
    margin-bottom: 5px;
}
div.Marzo td {
    width: 4em;
    height: 4em;
    padding-left: 5px;
    font-size: 70%;
    vertical-align: top;
    text-align: left;
}
div.Marzo th {
    text-align: center;

}