body {
    background-color: #95E1FF;
    font-family: sans-serif;
}
div{
    background-color: #FFFFE0;
    border: black 1px solid;
    padding: 10px 30px;
    margin: 10px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
div.Enero table {
    border-collapse: collapse;
    border: none;
    text-align: center;
}
div.Enero caption {
    font-style: oblique;
    font-weight: bold;
    letter-spacing: 5px;
}
div.Enero td {
    width: 3em;
    border-left: none;
    border-right: none;
    
}
div.Enero th {
    width: 3em;
    border-left: none;
    border-right: none;
    border-top: none;
}
div.Febrero table {
    border-collapse: collapse;
    border: none;
    padding-right: 5px;
}
